{% extends 'index.html' %} {% block title %} - Customer Card {% endblock title %} {% block
individualCSS %} {% endblock individualCSS %} {% block main %}


<div class="page-header">
  <h3 class="page-title">Customer Card</h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">C_Bank</a></li>
      <li class="breadcrumb-item active" aria-current="page">Customer Card</li>
    </ol>
  </nav>
</div>
<div class="row justify-content-center">
  <div class="col-md-6 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Customer Card</h4>
        <p class="card-description"></p>
        <div></div>
        {% if foundedCustomer %}
        <div class="card mt-1 bg-dark border border-primary">
          <div class="pt-2 pl-1">
            <div class="form-inline">
              <h3 class="text-primary pr-2">ID:</h3>
              <p class="h3 text-light">{{foundedCustomer.id}}</p>
            </div>
            <p class="text-info">
              Name & age:
              <code
                >{{foundedCustomer.GivenName}} {{foundedCustomer.Surname}},
                {{customer_age}}</code
              >
              <br />
              Birthday:
              <code>{{foundedCustomer.Birthday.strftime('%Y-%m-%d')}} </code>
              <br />

              Adress:
              <code>
                {{foundedCustomer.Streetaddress}},
                {{foundedCustomer.City}}</code
              >
              <br />

              Country:
              <code>
                {{foundedCustomer.Country}}, {{foundedCustomer.Zipcode}}</code
              >
              <br />
              Telephone:
              <code>{{foundedCustomer.Telephone}} </code>
              <br />

              Email:
              <code>{{foundedCustomer.EmailAddress}} </code>
            </p>
            <p class="text-info">
              Number of Accounts:
              <code> {{foundedCustomer.Accounts|length }} </code> <br />
              Total Accounts Money: <code> {{totalMoneyFromAccounts}} </code>
            </p>
            <div
              class="flex-row flex-wrap d-flex justify-content-between pb-2 pr-1"
            >
              {% for number in range(foundedCustomer.Accounts|length) %}
              <a
                href="{{ url_for('transaction', account_id = foundedCustomer.Accounts[number].id, customer_id = customer_id )}}"
                ><b class="btn btn-outline-light m-1">
                  Account {{number + 1 }}</b
                ></a
              >
              {% endfor %}
            </div>
          </div>
          <div class="form-inline p-1">
            <a
              class="btn btn-outline-danger col-12"
              href="{{url_for('customers')}}"
            >
              Close Customer Card
            </a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock main %}

<!-- Plugin js and custom js for this page -->
{% block individualJS %} {% endblock individualJS %}
<!-- End plugin js and custom js for this page -->
